@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "fonts";
@import "personal-card";
@import "reset.scss";
@import "../../components/main/need-analysis/need-analysis.scss";
@import "../../components/main/key-to-success/key-to-success.scss";
@import "../../components/main/worry/worry.scss";
@import "adaptive.scss";
@import "../../components/main/trainings/training";
@import "../../components/main/working-scheme/scheme";
@import "../../components/main/product-cost/cost";
@import "./modal-form";
@import "../../components/main/reviews/reviews";
@import "../../components/main/facts/facts";


.container{
  margin: 0;
  padding: 0;
}

.top-button-block {
  position: fixed;
  bottom: 140px;
  z-index: 9999;
  right: 4%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  .top-button {
    width: 70px;
    height: 70px;
    background-color: #3e35bd;
    color: #ef6ea8;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 1;
    }
    &::before {
      font-family: FontAwesome;
      font-size: 60px;
      content: '\f106';
    }
  }
}

.form{
  &__notification{
    font-family: OpenSansRegular;
    color: #ef6ea8;
    text-align: center;
    font-size: 24px;
    margin: 10px 0;
    &--error{
      color: red;
    }
  }
}

#app .personal-data{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  .form-control{
    height: 18px;
    width: 18px;
  }
  p{
    font-size: 16px;
    padding: 0;
    display: block;
    line-height: 27px;
    margin-left: 4px;
  }
}
/********************/

#app .confidential-link {
  color: #60b57e;
  text-decoration: none;
  transition: color 0.2s ease-in;
  font-weight: 600;
  &:hover{
    color: white;
  }
}